:root {
    --firstColor: rgba(236, 152, 218, 0.979);
    --secondColor: rgb(196, 70, 158);
    --textColor: rgb(0,0,0);
  }
  
  .clock {
    position: relative;
    border-radius: auto;
    margin: 10px auto;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 30px;
    color: var(--textColor);
    line-height: 1.5em;
    background: #eee;
    /* Old browsers */
    background: var(--firstColor);
  }

  @media only screen and (min-width: 700px) and (max-width: 1000px) {
    .clock {
      font-size: 50px;
    }
  }
  
  @media only screen and (min-width: 500px) and (max-width: 699px) {
    .clock {
      font-size: 45px;
    }
  }
  
  @media only screen and (min-width: 200px) and (max-width: 499px) {
    .clock {
      font-size: 40px;
    }
  }